%h1 Login

- unless @user_session.errors.empty?
  Errors:
  %ul
  - @user_session.errors.full_messages.each do |msg|
    %li= msg           

=form_for(@user_session, :url => user_session_path) do |f|
  .row
    = f.label :login
    = f.text_field :login
  .row
    = f.label :password
    = f.password_field :password
  .row
    = f.submit
 